{% extends "base.html" %}
{% load static %}
{% block head %}
<title>Cards de Oferta</title>
<style>
i{
    cursor: pointer;
}
</style>
{% endblock %}
{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Cards de Oferta</li>
        </ol>
    </nav>
    <div id="list-banks">
        <div class="row mb-3">
            <div class="col-md-4">
                Filtrar por
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <select id="filter-operacao" class="form-select">
                    <option value="cpf">CPF</option>
                    <option value="nome">Nome</option>
                    <option value="matricula">Matrícula</option>
                    <option value="codigo_interno">Código Interno</option>
                    <option value="status">Status</option>
                </select>
            </div>
            <div class="col-md-3">
                <input type="text" id="filter-banco" class="form-control">
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary"><i class="bi bi-funnel"></i> Filtrar</button>
            </div>
        </div>

        <div class="row mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Usuário</th>
                    <th>Código Interno</th>
                    <th>Matrícula</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="cards-table-body">
                <!-- renderizado via JS -->
            </tbody>
        </table>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5>Excluir</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body text-center">
        <input type="hidden" id="delete-id">
        <p>Deseja excluir <strong id="delete-nome"></strong>?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-danger" onclick="deleteCard()">Excluir</button>
      </div>

    </div>
  </div>
</div>


<div class="modal modal-xl fade" id="propostaModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h5>Propostas</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body text-center">
        <input type="hidden" id="card-id">
        <table class="table">
            <thead>
                <tr>
                    <th>ADE</th>
                    <th>Código Interno</th>
                    <th>Banco</th>
                    <th>Operação</th>
                    <th>Parcela</th>
                    <th>Status</th>
                    <th>
                        Ações
                    </th>
                </tr>
            </thead>
            <tbody id="propostas-table-body">
                <!-- renderizado via JS -->
            </tbody>
        </table>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="deletePropostaModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5>Excluir Proposta</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body text-center">
        <input type="hidden" id="delete-proposta-id">
        <p>Deseja excluir <strong id="delete-proposta-nome"></strong>?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-danger" onclick="deleteProposta()">Excluir</button>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="editCardModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5>Editar Card <strong id="edit-proposta-nome"></strong></h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body text-center">
        <input type="hidden" id="edit-card-id">
        <label for="status-card-select">Alterar Status</label>
        <select name="status-card-select" class="form-select text-center" id="status-card-select">
            <option value="" disabled>Selecione o status</option>
            <option value="NAO_INICIADO">Não Iniciado</option>
            <option value="DIGITACAO">Digitação Solicitada</option>
            <option value="CANCELADO">Cancelado</option>
        </select>
      </div>

      <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button class="btn btn-success" onclick="editarCard()">Salvar</button>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="historicoModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    Histórico
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div id="historico-loading" class="text-center py-3 d-none">
                    <div class="spinner-border"></div>
                </div>

                <ul class="list-group" id="historicoList"></ul>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">
                    Fechar
                </button>
            </div>

        </div>
    </div>
</div>


<script src="{% static 'js/utils.js' %}"></script>
<script>

let deleteModal
let propostaModal
let deletePropostaModal
let editCardModal
let historicoModal


function openPropostaModal(id, is_blocked) {
    document.getElementById('card-id').value = id
    loadPropostasByCardID(id, is_blocked)
    propostaModal.show()
}


function openDeleteModal(id, codig_interno) {
    document.getElementById('delete-id').value = id
    document.getElementById('delete-nome').innerText = codig_interno
    deleteModal.show()
}


function openEditModal(id, codig_interno, status_nome) {
    let status = document.getElementById('status-card-select')
    status.value = status_nome
    document.getElementById('edit-card-id').value = id
    document.getElementById('edit-proposta-nome').innerText = codig_interno
    editCardModal.show()
}


function openDeletePropostaModal(id, codig_interno) {
    propostaModal.hide()
    document.getElementById('delete-proposta-id').value = id
    document.getElementById('delete-proposta-nome').innerText = codig_interno
    deletePropostaModal.show()
}


document.addEventListener('DOMContentLoaded', function () {
    deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'))
    propostaModal = new bootstrap.Modal(document.getElementById('propostaModal'))
    deletePropostaModal = new bootstrap.Modal(document.getElementById('deletePropostaModal'))
    editCardModal = new bootstrap.Modal(document.getElementById('editCardModal'))
    historicoModal = new bootstrap.Modal(document.getElementById('historicoModal'))
    loadCards()
})


document.querySelector('.btn-primary').addEventListener('click', loadCards)


function loadCards() {
    showLoader()

    const tbody = document.getElementById('cards-table-body')
    renderLoading(tbody)

    let filterField = document.getElementById('filter-operacao').value
    let filterValue = document.getElementById('filter-banco').value.trim()

    if(filterField == 'cpf') {
        filterValue = filterValue.replace('.', '').replace('.', '').replace('-', '')
    }

    const params = new URLSearchParams()

    params.append('user_id', currentUser)

    if (filterValue) {
        params.append(filterField, filterValue)
    }

    fetch(`/api/cards-oferta/?${params.toString()}`)
        .then(res => res.json())
        .then(data => {
            if (data.status !== 'success') {
                showToast('Erro ao carregar cards')
                return
            }

            tbody.innerHTML = ''

            if (data.data.length === 0) {
                tbody.innerHTML = `
                    <tr>
                        <td colspan="6" class="text-center text-muted">
                            Nenhum card encontrado
                        </td>
                    </tr>
                `
                return
            }

        data.data.forEach(card => {
            const tr = document.createElement('tr')

            const isBlocked = card.is_blocked

            const lockBtn = `
                <button disabled
                    class="btn btn-sm btn-dark bi ${isBlocked ? 'bi-lock' : 'bi-unlock'}"
                    title="Contrato ${isBlocked ? 'Bloqueado' : 'Desbloqueado'}">
                </button>
            `

            const editBtn = `
                <button ${isBlocked ? 'disabled' : ''}
                    class="btn btn-sm btn-success bi bi-pencil-square"
                    title="Editar Card"
                    onclick="openEditModal('${card.id}', '${card.codigo_interno}', '${card.status}')">
                </button>
            `

            const deleteBtn = `
                <button ${isBlocked ? 'disabled' : ''}
                    class="btn btn-sm btn-danger bi bi-trash3"
                    title="Excluir"
                    onclick="openDeleteModal('${card.id}','${card.codigo_interno}')">
                </button>
            `

            tr.innerHTML = `
                <td class="small">${card.user__username ?? '-'}</td>
                <td class="small">${card.codigo_interno}</td>
                <td class="small">${card.matricula__matricula}</td>
                <td class="small">${card.cliente__nome}</td>
                <td class="small">${maskCPF(card.cliente__cpf)}</td>
                <td class="small">${card.status_nome}</td>
                <td class="small">
                    <button class="btn btn-sm btn-warning bi bi-clock-history"
                        title="Abrir Propostas"
                        onclick="openHistoricoModal('${card.id }')">
                    </button>
                    ${lockBtn}
                    ${editBtn}
                    <button class="btn btn-sm btn-primary bi bi-files"
                        title="Abrir Propostas"
                        onclick="openPropostaModal('${card.id}',  ${card.is_blocked})">
                    </button>
                    ${deleteBtn}
                </td>
            `

            tbody.appendChild(tr)
        })
        })
        .catch(() => showToast('Erro de conexão com o servidor'))
        .finally(() => hideLoader())
}


function editarCard() {
    showLoader();
    const id = document.getElementById('edit-card-id').value;
    let status = document.getElementById('status-card-select').value;
    let statusText = document.getElementById('status-card-select').options[document.getElementById('status-card-select').selectedIndex].text;

    fetch('/api/cards-oferta/', {
        method: 'PATCH',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCSRFToken()
        },
        body: JSON.stringify({
            id: id,
            status: status
        })
    })
    .then(async res => {
        const data = await res.json()
        if (!res.ok || data.status === 'error') {
            throw new Error(data.message || 'Erro ao excluir')
        }
        return data
    })
    .then(() => {
        editCardModal.hide();
        showToast('Card atualizado com sucesso', 'success')
        createHistorico(id, obs = statusText)
        loadCards();
    })
    .catch(err => {
        if(err.message.includes("Cannot delete some instances of model")){
            editCardModal.hide();
            showToast("Não é possível deletar um card com propostas ativas", 'danger')
        } else {
            editCardModal.hide();
            showToast(err.message)
        }
    })
    .finally(() => hideLoader())
}


function deleteCard() {
    showLoader()
    const id = document.getElementById('delete-id').value

    fetch('/api/cards-oferta/', {
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCSRFToken()
        },
        body: JSON.stringify({ id })
    })
    .then(async res => {
        const data = await res.json()
        if (!res.ok || data.status === 'error') {
            throw new Error(data.message || 'Erro ao excluir')
        }
        return data
    })
    .then(() => {
        deleteModal.hide();
        showToast('Card excluido com sucesso', 'success')
        loadCards();
    })
    .catch(err => {
        if(err.message.includes("Cannot delete some instances of model")){
            deleteModal.hide();
            showToast("Não é possível deletar um card com propostas ativas", 'danger')
        } else {
            deleteModal.hide();
            showToast(err.message)
        }
    })
    .finally(() => hideLoader())
}


function deleteProposta() {
    showLoader()
    const id = document.getElementById('delete-proposta-id').value

    fetch('/api/propostas/', {
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCSRFToken()
        },
        body: JSON.stringify({ id })
    })
    .then(async res => {
        const data = await res.json()
        if (!res.ok || data.status === 'error') {
            throw new Error(data.message || 'Erro ao excluir')
        }
        return data
    })
    .then(() => {
        deletePropostaModal.hide();
        showToast('Proposta excluida com sucesso', 'success')
        loadCards();
    })
    .catch(err => {
        if(err.message.includes("Cannot delete some instances of model")){
            deletePropostaModal.hide();
            showToast("Não é possível deletar uma proposta ativa", 'danger')
        } else {
            deletePropostaModal.hide();
            showToast(err.message)
        }
    })
    .finally(() => hideLoader())
}


function renderPropostas(propostas, is_blocked){
    let propostasList = document.getElementById('propostas-table-body')
    propostasList.innerHTML = ''

    propostas.forEach(proposta => {

        const editBtn = `
            <button ${is_blocked ? 'disabled' : ''}
                class="btn btn-sm btn-success bi bi-pencil-square"
                title="Editar Card">
            </button>
        `

        const deleteBtn = `
            <button ${is_blocked ? 'disabled' : ''}
                class="btn btn-sm btn-danger bi bi-trash3"
                title="Excluir"
                onclick="openDeletePropostaModal('${proposta.id}','${proposta.codigo_interno}')">
            </button>
        `

        propostasList.innerHTML += `
            <tr>
                <td>${proposta.ade ?? '-'}</td>
                <td>${proposta.codigo_interno}</td>
                <td>${proposta.tabela__banco__nome}</td>
                <td>${proposta.tabela__operacao__nome}</td>
                <td>${proposta.parcela.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL'})}</td>
                <td>${proposta.status__nome}</td>
                <td>
                    ${editBtn}
                    ${deleteBtn}
                </td>
            </tr>
        `
    })
}


function loadPropostasByCardID(id, is_blocked) {
    let propostasList = document.getElementById('propostas-table-body')
    propostasList.innerHTML = ''
    showLoader();
    fetch(`/api/propostas/?card_id=${id}`)
        .then(res => res.json())
        .then(res => {
            renderPropostas(res.data, is_blocked)
        })
        .catch(err => {
            showToast("Erro ao carregar propostas", "danger");
            console.error(err);
        })
        .finally(() => hideLoader())
}


function openHistoricoModal(cardId) {
    const list = document.getElementById('historicoList')
    const loading = document.getElementById('historico-loading')
    list.innerHTML = ''
    loading.classList.remove('d-none')

    historicoModal.show()

    fetch(`/api/historico-card/?card_id=${cardId}`)
        .then(res => res.json())
        .then(res => {
            loading.classList.add('d-none')

            if (res.status !== 'success') {
                list.innerHTML = `
                    <li class="list-group-item text-danger">
                        Erro ao carregar histórico
                    </li>
                `
                return
            }

            if (!res.data.length) {
                list.innerHTML = `
                    <li class="list-group-item text-muted text-center">
                        Nenhum histórico encontrado
                    </li>
                `
                return
            }

            res.data.forEach(item => {
                list.insertAdjacentHTML('beforeend', `
                    <li class="list-group-item">
                        <div class="d-flex justify-content-between">
                            <small class="text-muted">
                                Alterado por ${item.user__username ?? 'Sistema'} em ${formatDate(item.date)}
                            </small> 
                        </div>

                        ${item.obs ? `
                            <div class="mt-1">
                                ${item.obs}
                            </div>
                        ` : ''}
                    </li>
                `)
            })
        })
        .catch(() => {
            loading.classList.add('d-none')
            list.innerHTML = `
                <li class="list-group-item text-danger">
                    Erro de conexão
                </li>
            `
        })
}


function createHistorico(cardId, obs = '') {
    return fetch('/api/historico-card/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCSRFToken()
        },
        body: JSON.stringify({
            card_id: cardId,
            obs: obs
        })
    })
    .then(res => res.json())
}
</script>



{% endblock %}