{% extends "base.html" %}
{% load static %}
{% block head %}
<title>Propostas</title>
<style>
i{
    cursor: pointer;
}
</style>
{% endblock %}
{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Propostas</li>
        </ol>
    </nav>
    <div id="list-banks">
        <div class="row mb-3">
            <div class="col-md-4">
                Filtrar por
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <select id="filter-operacao" class="form-select">
                    <option value="cpf">CPF</option>
                    <option value="nome">Nome</option>
                    <option value="matricula">Matrícula</option>
                    <option value="codigo_interno">Código Interno</option>
                    <option value="status">Status</option>
                </select>
            </div>
            <div class="col-md-3">
                <input type="text" id="filter-banco" class="form-control">
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary"><i class="bi bi-funnel"></i> Filtrar</button>
            </div>
        </div>

        <div class="row mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Usuário</th>
                    <th>Código Interno</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="propostas-table-body">
                <!-- renderizado via JS -->
            </tbody>
        </table>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5>Excluir Proposta</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body text-center">
        <input type="hidden" id="delete-id">
        <p>Deseja excluir <strong id="delete-nome"></strong>?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-danger" onclick="deleteProposta()">Excluir</button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="historicoModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    Histórico
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div id="historico-loading" class="text-center py-3 d-none">
                    <div class="spinner-border"></div>
                </div>

                <ul class="list-group" id="historicoList"></ul>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">
                    Fechar
                </button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="configModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    Alterar Status da Proposta
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <input type="hidden" id="config-id">
                <input type="hidden" id="config-card-id">
                <div class="mb-3">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="copnfig-ade">ADE</label>
                            <input type="text" class="form-control" id="config-ade">
                        </div>
                        <div class="col-md-6">
                            <label for="copnfig-ade-2">ADE Auxiliar</label>
                            <input type="text" class="form-control" id="config-ade-2">
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="config-status" class="form-label">Status do Card</label>
                    <select id="config-card-status" class="form-select">
                        <option value="NAO_INICIADO">Não Iniciado</option>
                        <option value="DIGITACAO">Aguardando Digitação</option>
                        <option value="ANDAMENTO">Andamento</option>
                        <option value="FORMALIZACAO">Aguardando Formalização</option>
                        <option value="ATENCAO">Precisa de Atenção</option>
                        <option value="FINALIZADO">Finalizado</option>
                        <option value="CANCELADO">Cancelado</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="config-status" class="form-label">Status</label>
                    <select id="config-status" class="form-select">
                    </select>
                </div>
                <div class="mb-3">
                    <label for="config-observacao" class="form-label">Observação</label>
                    <textarea id="config-observacao" class="form-control"></textarea>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" onclick="changeCardAndProposta()">
                    Salvar
                </button>
                <button class="btn btn-secondary" data-bs-dismiss="modal">
                    Fechar
                </button>
            </div>

        </div>
    </div>
</div>


<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/historico.js' %}"></script>
<script>

let deleteModal;
let configModal;

function openDeleteModal(id, codig_interno) {
    document.getElementById('delete-id').value = id
    document.getElementById('delete-nome').innerText = codig_interno
    deleteModal.show()
}


function openConfigModal(proposta) {
    console.log(proposta);
    document.getElementById('config-id').value = proposta.id
    document.getElementById('config-card-id').value = proposta.card_oferta__id
    document.getElementById('config-status').value = proposta.status__id
    document.getElementById('config-observacao').value = ''
    document.getElementById('config-card-status').value = proposta.card_oferta__status
    document.getElementById('config-ade').value = proposta.ade
    document.getElementById('config-ade-2').value = proposta.ade_2
    configModal.show();
}


document.addEventListener('DOMContentLoaded', function () {
    deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
    configModal = new bootstrap.Modal(document.getElementById('configModal'));
    loadPropostas();
    loadStatus();
})


document.querySelector('.btn-primary').addEventListener('click', loadPropostas)


function openProposta(id){
    window.open(`/propostas/${id}`, '_blank', 'noopener,noreferrer');
}


function loadPropostas() {
    
    const tbody = document.getElementById('propostas-table-body')
    renderLoading(tbody)

    let filterField = document.getElementById('filter-operacao').value
    let filterValue = document.getElementById('filter-banco').value.trim()
    
    if(filterField == 'cpf') {
        filterValue = filterValue.replace('.', '').replace('.', '').replace('-', '')
    }
    
    const params = new URLSearchParams()
    
    if (filterValue) {
        params.append(filterField, filterValue)
    }
    
    showLoader();

    fetch(`/api/propostas-geral/?${params.toString()}`)
        .then(res => res.json())
        .then(data => {
            if (data.status !== 'success') {
                showToast('Erro ao carregar propostas')
                return
            }

            tbody.innerHTML = ''

            if (data.data.length === 0) {
                tbody.innerHTML = `
                    <tr>
                        <td colspan="6" class="text-center text-muted">
                            Nenhuma proposta encontrada
                        </td>
                    </tr>
                `
                return
            }

            data.data.forEach(proposta => {
                const tr = document.createElement('tr')

                let btn = ''

                if(proposta.bloqueado){
                    btn = `<button class="btn btn-sm btn-sm-icon btn-dark bi bi-lock" title="Desbloquear" onclick="desbloquearProposta(${proposta.id})"></button>`
                } else {
                    btn = `<button class="btn btn-sm btn-sm-icon btn-light bi bi-unlock" title="Bloquear" onclick="bloquearProposta(${proposta.id})"></button>`
                }


                tr.innerHTML = `
                    <td><span class="small">${proposta.usuario__username ?? '-'}</span></td>
                    <td><span class="small">${proposta.codigo_interno}</span></td>
                    <td><span class="small">${proposta.cliente__nome}</span></td>
                    <td><span class="small">${maskCPF(proposta.cliente__cpf)}</span></td>
                    <td><span class="small">${proposta.status}</span></td>
                    <td>
                        <div class="btn-group">
                        ${btn}
                        <button class="btn btn-sm btn-sm-icon btn-success bi bi-gear" title="Gerenciar" onclick='openConfigModal(${JSON.stringify(proposta)})'></button>
                        <button class="btn btn-sm btn-sm-icon btn-warning bi bi-clock-history" title="Histórico" onclick="openHistoricoPropostaModal(${proposta.id})"></button>
                        <button class="btn btn-sm btn-sm-icon btn-primary bi bi-files" title="Abrir Propostas" onclick="openProposta(${proposta.id})"></button>
                        <button class="btn btn-sm btn-sm-icon btn-danger bi bi-trash3" title="Excluir" onclick="openDeleteModal('${proposta.id}','${proposta.codigo_interno}')"></button>
                        </div>
                    </td>
                `
                tbody.appendChild(tr)
            })
        })
        .catch(() => showToast('Erro de conexão com o servidor'))
        .finally(() => hideLoader())
}


function deleteProposta() {
    const id = document.getElementById('delete-id').value
    showLoader()

    fetch('/api/propostas/', {
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCSRFToken()
        },
        body: JSON.stringify({ id })
    })
    .then(async res => {
        const data = await res.json()
        if (!res.ok || data.status === 'error') {
            throw new Error(data.message || 'Erro ao excluir')
        }
        return data
    })
    .then(() => {
        deleteModal.hide();
        showToast('Proposta excluida com sucesso', 'success')
        loadPropostas();
    })
    .catch(err => {
        if(err.message.includes("Cannot delete some instances of model")){
            deleteModal.hide();
            showToast("Não é possível deletar uma proposta com dependências", 'danger')
        } else {
            deleteModal.hide();
            showToast(err.message)
        }
    })
    .finally(() => hideLoader())
}


function loadStatus() {
    showLoader()

    fetch('/api/status/')
        .then(res => res.json())
        .then(data => {
            if (data.status !== 'success') {
                showToast('Erro ao carregar status')
                return
            }
            document.getElementById('config-status').innerHTML = ''
            data.data.forEach(status => {
                const option = document.createElement('option')
                option.value = status.id
                option.innerText = `${status.codigo} - ${status.nome}`
                document.getElementById('config-status').appendChild(option)
            })
        })
        .catch(() => showToast('Erro de conexão com o servidor'))
        .finally(() => hideLoader())
}


function changeCard() {
    const carId = document.getElementById('config-card-id').value    
    const cardStatus = document.getElementById('config-card-status').value
    const cardStatusText = document.getElementById('config-card-status').options[document.getElementById('config-card-status').selectedIndex].text
    showLoader();

    fetch('/api/cards-oferta/', {
        method: 'PATCH',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCSRFToken()
        },
        body: JSON.stringify({
            id: carId,
            status: cardStatus
        })
    })
    .then(res => res.json())
    .then(data => {
        if (data.status !== 'success') {
            showToast('Erro ao alterar card')
            return
        }
    })
    .catch(() => showToast('Erro de conexão com o servidor'))
    .finally(() => hideLoader())
}


function changeProposta() {
    const propostaId = document.getElementById('config-id').value
    const propostaStatusId = document.getElementById('config-status').value
    const propostaStatusText = document.getElementById('config-status').options[document.getElementById('config-status').selectedIndex].text
    const ade = document.getElementById('config-ade')?.value || null
    const ade2 = document.getElementById('config-ade-2')?.value || null
    const obs = document.getElementById('config-observacao').value
    showLoader();

    fetch('/api/propostas-geral/', {
        method: 'PATCH',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCSRFToken()
        },
        body: JSON.stringify({
            id: propostaId,
            status_id: propostaStatusId,
            ade: ade,
            ade_2: ade2,
            obs: obs
        })
    })
    .then(res => res.json())
    .then(data => {
        if (data.status !== 'success') {
            showToast('Erro ao alterar propostas')
            return
        }
    })
    .catch(() => showToast('Erro de conexão com o servidor'))
    .finally(() => hideLoader())
}


function bloquearProposta(id) {

    fetch('/api/propostas-geral/', {
        method: 'PATCH',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCSRFToken()
        },
        body: JSON.stringify({
            id: id,
            bloqueado: true,
            obs: 'Proposta bloqueada para edição'
        })
    })
    .then(res => res.json())
    .then(data => {
        if (data.status !== 'success') {
            showToast('Erro ao alterar propostas')
            return
        }
        loadPropostas();
    })
    .catch(() => showToast('Erro de conexão com o servidor'))
    .finally(() => hideLoader())
}


function desbloquearProposta(id) {

    fetch('/api/propostas-geral/', {
        method: 'PATCH',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCSRFToken()
        },
        body: JSON.stringify({
            id: id,
            bloqueado: false,
            obs: 'Proposta desbloqueada para edição'
        })
    })
    .then(res => res.json())
    .then(data => {
        if (data.status !== 'success') {
            showToast('Erro ao alterar propostas')
            return
        }
        loadPropostas();
    })
    .catch(() => showToast('Erro de conexão com o servidor'))
    .finally(() => hideLoader())
}


function changeCardAndProposta(){
    configModal.hide();
    changeCard();
    changeProposta();
    loadPropostas();
}

</script>



{% endblock %}