{% extends "base.html" %}
{% load static %}
{% block head %}
<title>Propostas</title>
<style>
i{
    cursor: pointer;
}
</style>
{% endblock %}
{% block content %}
<div class="container">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Propostas</li>
        </ol>
    </nav>
    <div id="list-banks">
        <div class="row mb-3">
            <div class="col-md-4">
                Filtrar por
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <select id="filter-operacao" class="form-select">
                    <option value="cpf">CPF</option>
                    <option value="nome">Nome</option>
                    <option value="matricula">Matrícula</option>
                    <option value="codigo_interno">Código Interno</option>
                    <option value="status">Status</option>
                </select>
            </div>
            <div class="col-md-3">
                <input type="text" id="filter-banco" class="form-control">
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary"><i class="bi bi-funnel"></i> Filtrar</button>
            </div>
        </div>

        <div class="row mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Usuário</th>
                    <th>Código Interno</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody id="propostas-table-body">
                <!-- renderizado via JS -->
            </tbody>
        </table>
        </div>
    </div>
</div>


<div class="modal fade" id="deleteModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5>Excluir Proposta</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body text-center">
        <input type="hidden" id="delete-id">
        <p>Deseja excluir <strong id="delete-nome"></strong>?</p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-danger" onclick="deleteProposta()">Excluir</button>
      </div>

    </div>
  </div>
</div>


<div class="modal fade" id="historicoModal" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    Histórico
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                <div id="historico-loading" class="text-center py-3 d-none">
                    <div class="spinner-border"></div>
                </div>

                <ul class="list-group" id="historicoList"></ul>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">
                    Fechar
                </button>
            </div>

        </div>
    </div>
</div>


<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/historico.js' %}"></script>
<script>

let deleteModal

function openDeleteModal(id, codig_interno) {
    document.getElementById('delete-id').value = id
    document.getElementById('delete-nome').innerText = codig_interno
    deleteModal.show()
}

document.addEventListener('DOMContentLoaded', function () {
    deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'))
    loadPropostas()
})

document.querySelector('.btn-primary').addEventListener('click', loadPropostas)


function openProposta(id){
    window.open(`/propostas/${id}`, '_blank', 'noopener,noreferrer');
}


function loadPropostas() {
    showLoader()

    const tbody = document.getElementById('propostas-table-body')
    renderLoading(tbody)

    let filterField = document.getElementById('filter-operacao').value
    let filterValue = document.getElementById('filter-banco').value.trim()

    if(filterField == 'cpf') {
        filterValue = filterValue.replace('.', '').replace('.', '').replace('-', '')
    }

    const params = new URLSearchParams()

    params.append('user_id', currentUser)

    if (filterValue) {
        params.append(filterField, filterValue)
    }

    fetch(`/api/propostas/?${params.toString()}`)
        .then(res => res.json())
        .then(data => {
            if (data.status !== 'success') {
                showToast('Erro ao carregar propostas')
                return
            }

            tbody.innerHTML = ''

            if (data.data.length === 0) {
                tbody.innerHTML = `
                    <tr>
                        <td colspan="6" class="text-center text-muted">
                            Nenhuma proposta encontrada
                        </td>
                    </tr>
                `
                return
            }

            data.data.forEach(proposta => {
                const tr = document.createElement('tr')

                tr.innerHTML = `
                    <td><span class="small">${proposta.usuario__username ?? '-'}</span></td>
                    <td><span class="small">${proposta.codigo_interno}</span></td>
                    <td><span class="small">${proposta.cliente__nome}</span></td>
                    <td><span class="small">${maskCPF(proposta.cliente__cpf)}</span></td>
                    <td><span class="small">${proposta.status}</span></td>
                    <td class="btn-group">
                        <button class="btn btn-sm btn-sm-icon btn-warning bi bi-clock-history" title="Histórico" onclick="openHistoricoPropostaModal(${proposta.id})"></button>
                        <button class="btn btn-sm btn-sm-icon btn-primary bi bi-files" title="Abrir Propostas" onclick="openProposta(${proposta.id})"></button>
                        <button class="btn btn-sm btn-sm-icon btn-danger bi bi-trash3" title="Excluir" onclick="openDeleteModal('${proposta.id}','${proposta.codigo_interno}')"></button>
                        
                    </td>
                `
                tbody.appendChild(tr)
            })
        })
        .catch(() => showToast('Erro de conexão com o servidor'))
        .finally(() => hideLoader())
}


function deleteProposta() {
    showLoader()
    const id = document.getElementById('delete-id').value

    fetch('/api/propostas/', {
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCSRFToken()
        },
        body: JSON.stringify({ id })
    })
    .then(async res => {
        const data = await res.json()
        if (!res.ok || data.status === 'error') {
            throw new Error(data.message || 'Erro ao excluir')
        }
        return data
    })
    .then(() => {
        deleteModal.hide();
        showToast('Proposta excluida com sucesso', 'success')
        loadPropostas();
    })
    .catch(err => {
        if(err.message.includes("Cannot delete some instances of model")){
            deleteModal.hide();
            showToast("Não é possível deletar uma proposta com dependências", 'danger')
        } else {
            deleteModal.hide();
            showToast(err.message)
        }
    })
    .finally(() => hideLoader())
}


</script>



{% endblock %}