{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Clientes</title>
{% endblock %}

{% block content %}
<div class="container py-3">

    <h5 class="mb-3">Cadastro de Cliente</h5>

    <form id="clienteForm">
        {% csrf_token %}
        <input type="hidden" id="cliente-id">

        <div class="row g-2">

            <!-- DADOS PESSOAIS -->
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label">CPF</label>
                    <div class="d-flex gap-2">
                        <input id="cpf" class="form-control" maxlength="14" oninput="formatCPF(this)" required>
                        <button type="button" class="btn btn-primary btn-sm" id="btn-search-btn">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Nome</label>
                    <input id="nome" class="form-control" required>
                </div>

                <div class="col-md-2">
                    <label class="form-label">Nascimento</label>
                    <input type="date" id="nascimento" class="form-control" required>
                </div>
            </div>

            <!-- DOCUMENTOS -->
            <div class="row mt-2">
                <div class="col-md-4">
                    <label class="form-label">Nº Documento</label>
                    <input id="numero_documento" class="form-control" required>
                </div>
                <div class="col-md-2">
                    <label class="form-label">Órgão Emissor</label>
                    <select name="orgao_emissor" id="orgao_emissor" class="form-select" required>
                        <option value="" selected> - </option>
                        <option value="SSP">SSP</option>
                        <option value="DETRAN">DETRAN</option>
                        <option value="Outro">Outro</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label class="form-label">UF Emissão</label>
                    <select name="uf_emissao" id="uf_emissao" class="form-select" required>
                        <option value=""> - </option>
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AP">AP</option>
                        <option value="AM">AM</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="MA">MA</option>
                        <option value="MT">MT</option>
                        <option value="MS">MS</option>
                        <option value="MG">MG</option>
                        <option value="PA">PA</option>
                        <option value="PB">PB</option>
                        <option value="PR">PR</option>
                        <option value="PE">PE</option>
                        <option value="PI">PI</option>
                        <option value="RJ">RJ</option>
                        <option value="RN">RN</option>
                        <option value="RS">RS</option>
                        <option value="RO">RO</option>
                        <option value="RR">RR</option>
                        <option value="SC">SC</option>
                        <option value="SP">SP</option>
                        <option value="SE">SE</option>
                        <option value="TO">TO</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Data Emissão</label>
                    <input type="date" id="data_emissao" class="form-control" required>
                </div>
            </div>

            <!-- NATURALIDADE -->
            <div class="row mt-2">
                <div class="col-md-4">
                    <label class="form-label">Naturalidade</label>
                    <input id="naturalidade" class="form-control" required>
                </div>

                <div class="col-md-2">
                    <label class="form-label">UF Naturalidade</label>
                    <select name="uf_naturalidade" id="uf_naturalidade" class="form-select" required>
                        <option value=""> - </option>
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AP">AP</option>
                        <option value="AM">AM</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="MA">MA</option>
                        <option value="MT">MT</option>
                        <option value="MS">MS</option>
                        <option value="MG">MG</option>
                        <option value="PA">PA</option>
                        <option value="PB">PB</option>
                        <option value="PR">PR</option>
                        <option value="PE">PE</option>
                        <option value="PI">PI</option>
                        <option value="RJ">RJ</option>
                        <option value="RN">RN</option>
                        <option value="RS">RS</option>
                        <option value="RO">RO</option>
                        <option value="RR">RR</option>
                        <option value="SC">SC</option>
                        <option value="SP">SP</option>
                        <option value="SE">SE</option>
                        <option value="TO">TO</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label class="form-label">Sexo</label>
                    <select id="sexo" class="form-select" required>
                        <option value="">-</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                </div>

                <div class="col-md-2 d-flex align-items-center">
                    <div class="form-check form-switch mt-4">
                        <input type="checkbox" id="iletrado" class="form-check-input">
                        <label class="form-check-label">Iletrado</label>
                    </div>
                </div>
            </div>

            <!-- FILIAÇÃO -->
            <div class="row mt-2">
                <div class="col-md-6">
                    <label class="form-label">Nome do Pai</label>
                    <input id="pai" class="form-control">
                </div>

                <div class="col-md-6">
                    <label class="form-label">Nome da Mãe</label>
                    <input id="mae" class="form-control">
                </div>
            </div>

            <!-- CONTATO -->
            <div class="row mt-2">
                <div class="col-md-4">
                    <label class="form-label">Celular</label>
                    <input id="celular" class="form-control" maxlength="14" oninput="formatCelphone(this)" required>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Email</label>
                    <input type="email" id="email" class="form-control" required>
                </div>
            </div>

            <!-- ENDEREÇO -->
            <div class="row mt-2">
                <div class="col-md-3">
                    <label class="form-label">CEP</label>
                    <input id="cep" class="form-control" oninput="formatCEP(this)" maxlength="10" required>
                </div>

                <div class="col-md-6">
                    <label class="form-label">Endereço</label>
                    <input id="endereco" class="form-control" required>
                </div>

                <div class="col-md-3">
                    <label class="form-label">Número</label>
                    <input id="numero" class="form-control" required>
                </div>
            </div>


            <div class="row mt-2">
                <div class="col-md-3">
                    <label class="form-label">Bairro</label>
                    <input id="bairro" class="form-control" required>
                </div>

                <div class="col-md-3">
                    <label class="form-label">Complemento</label>
                    <input id="complemento" class="form-control">
                </div>

                <div class="col-md-4">
                    <label class="form-label">Cidade</label>
                    <input id="cidade" class="form-control" required>
                </div>

                <div class="col-md-2">
                    <label class="form-label">UF</label>
                    <select name="uf_cidade" id="uf_cidade" class="form-select" required>
                        <option value=""> - </option>
                        <option value="AC">AC</option>
                        <option value="AL">AL</option>
                        <option value="AP">AP</option>
                        <option value="AM">AM</option>
                        <option value="BA">BA</option>
                        <option value="CE">CE</option>
                        <option value="DF">DF</option>
                        <option value="ES">ES</option>
                        <option value="GO">GO</option>
                        <option value="MA">MA</option>
                        <option value="MT">MT</option>
                        <option value="MS">MS</option>
                        <option value="MG">MG</option>
                        <option value="PA">PA</option>
                        <option value="PB">PB</option>
                        <option value="PR">PR</option>
                        <option value="PE">PE</option>
                        <option value="PI">PI</option>
                        <option value="RJ">RJ</option>
                        <option value="RN">RN</option>
                        <option value="RS">RS</option>
                        <option value="RO">RO</option>
                        <option value="RR">RR</option>
                        <option value="SC">SC</option>
                        <option value="SP">SP</option>
                        <option value="SE">SE</option>
                        <option value="TO">TO</option>
                    </select>
                </div>
            </div>


        </div>

        <div class="mt-3 text-end">
            <button class="btn btn-primary">
                Salvar Cliente
            </button>
        </div>
    </form>
</div>

<script src="{% static 'js/utils.js' %}"></script>

<script>

document.getElementById('btn-search-btn').addEventListener('click', buscarClientePorCPF)
document.getElementById('clienteForm').addEventListener('submit', salvarCliente)


function buscarClientePorCPF() {
    const cpf = cleanCPF(document.getElementById('cpf').value.trim())
    if (!cpf) {
        showToast("Informe um CPF", "warning")
        return
    }

    fetch(`/api/clientes/?cpf=${cpf}`)
        .then(res => res.json())
        .then(res => {
            if (res.status !== 'success') return

            const cliente = res.data

            if (cliente) {
                showToast("Dados do cliente retornados", "success")
                preencher(cliente)
            } else {
                showToast("Cliente não encontrado, preencha os dados manualmente", "info")
                limpar()
            }
        })
}


function preencher(c) {
    for (const key in c) {
        const el = document.getElementById(key)
        if (!el) continue

        if (el.type === 'checkbox') {
            el.checked = c[key]
        } else {
            el.value = c[key] ?? ''
        }
    }
}

function limpar() {
    document.querySelectorAll('#clienteForm input, #clienteForm select')
        .forEach(el => {
            if (el.type === 'checkbox') el.checked = false
            else if (el.id !== 'cpf') el.value = ''
        })
}

function salvarCliente(e) {
    e.preventDefault()

    const payload = {
        cpf: cleanCPF(cpf.value),
        nome: nome.value,
        nascimento: nascimento.value,
        sexo: sexo.value,
        email: email.value,
        iletrado: iletrado.checked,
        numero_documento: numero_documento.value,
        orgao_emissor: orgao_emissor.value,
        uf_emissao: uf_emissao.value,
        data_emissao: data_emissao.value,
        naturalidade: naturalidade.value,
        uf_naturalidade: uf_naturalidade.value,
        pai: pai.value,
        mae: mae.value,
        celular: celular.value,
        cep: cep.value,
        endereco: endereco.value,
        numero: numero.value,
        bairro: bairro.value,
        complemento: complemento.value,
        cidade: cidade.value,
        uf_cidade: uf_cidade.value,
    }

    fetch('/api/clientes/', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            'X-CSRFToken': getCSRFToken()
        },
        body: JSON.stringify(payload)
    })
    .then(res => res.json())
    .then(res => {
        if (res.status === 'success') {
            showToast('Cliente salvo com sucesso', 'success')
        } else {
            showToast(res.message || 'Erro ao salvar', 'danger')
        }
    })
}

function getCSRFToken() {
    return document.querySelector('[name=csrfmiddlewaretoken]').value
}
</script>

{% endblock %}