<div class="modal fade" id="matriculaModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="modal-header">
        <h5 id="matriculaModalTitle">Nova Matrícula</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <input type="hidden" id="matricula-id">

        <div class="row g-2">
          <div class="col-md-6">
            <label class="form-label">Cliente</label>
            <input id="matricula-cliente" class="form-control" readonly>
          </div>

          <div class="col-md-2">
            <label class="form-label">Convênio</label>
            <select id="convenio" class="form-select"></select>
          </div>

          <div class="col-md-4">
            <label class="form-label">Matrícula</label>
            <input id="matricula-matricula" class="form-control">
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-4">
            <label class="form-label">Código Convênio</label>
            <input id="matricula-codigo-convenio" class="form-control">
          </div>

          <div class="col-md-2">
            <label class="form-label">UF</label>
            <select id="matricula-uf-convenio" class="form-select">
              <option value="">-</option>
              {% include "partials/ufs.html" %}

            </select>
          </div>

          <div class="col-md-4">
            <label class="form-label">Recebimento</label>
            <select id="matricula-recebimento" class="form-select">
              <option value="CC">Conta Corrente</option>
              <option value="CP">Conta Poupança</option>
            </select>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-2">
            <label class="form-label">Banco</label>
            <input id="matricula-banco" class="form-control">
          </div>

          <div class="col-md-2">
            <label class="form-label">Agência</label>
            <input id="matricula-agencia" class="form-control">
          </div>

          <div class="col-md-4">
            <label class="form-label">Conta</label>
            <input id="matricula-conta" class="form-control">
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary" onclick="saveMatricula()">Salvar</button>
      </div>

    </div>
  </div>
</div>
