<div class="d-flex justify-content-between align-items-center mb-3">
    <h5>Matrículas</h5>
    <button class="btn btn-success" onclick="openCreateMatriculaModal()">
        Nova Matrícula
    </button>
</div>

<div class="card p-4">
    <div class="row text-center mb-4">
        <div class="col-md-1"></div>
        <div class="col-md-2"><strong class="text-muted">Convênio</strong></div>
        <div class="col-md-2"><strong class="text-muted">Matrícula</strong></div>
        <div class="col-md-2"><strong class="text-muted">Código/Espécie</strong></div>
        <div class="col-md-1"><strong class="text-muted">Banco</strong></div>
        <div class="col-md-1"><strong class="text-muted">Agência</strong></div>
        <div class="col-md-2"><strong class="text-muted">Conta</strong></div>
        <div class="col-md-1"><strong class="text-muted">Ações</strong></div>
    </div>
    <div id="matriculas"></div>
</div>


<div class="d-flex justify-content-between mt-4">
    <button class="btn btn-secondary" onclick="goStep(1)">
        <i class="bi bi-arrow-left-short"></i>  Voltar
    </button>

    <button id="btnContinuarOferta"
            class="btn btn-primary"
            onclick="createCardOferta()"
            disabled>
        Continuar <i class="bi bi-arrow-right-short"></i>
    </button>
</div>
