<h5 class="mb-3">Propostas</h5>

<table class="table table-sm align-middle">
    <thead>
        <tr>
            <th>Código Interno</th>
            <th>Card</th>
            <th>Operação</th>
            <th>Parcela</th>
            <th>CPF</th>
            <th>Nome</th>
            <th>Matricula</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody id="propostasTable"></tbody>
</table>

<button class="btn btn-success" onclick="openCreatePropostaModal()">
    + Nova Proposta
</button>


<div class="d-flex justify-content-between mt-4">
    <button class="btn btn-secondary" onclick="goStep(2)">
        <i class="bi bi-arrow-left-short"></i>  Voltar
    </button>

    <button id="btnContinuarOferta" class="btn btn-primary" disabled>
        Continuar <i class="bi bi-arrow-right-short"></i>
    </button>
</div>

{% include "partials/proposta_modal.html" %}
